[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "<4.0,>=3.8"

[dev-packages]
ipdb = "*"
ipython = "*"
build = "*"
twine = "*"

[requires]
python_version = "3"
