[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
paho-mqtt = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
build = "*"

[requires]
python_version = "3.9"
